@import url("/spotylite-style.css");

/* Estilos para el tema oscuro */
.root {
    -fx-background-color: #121212; /* Fondo oscuro */
    -fx-text-fill: white; /* Texto blanco */
}

.player {
    -fx-background-color: #282828; /* Fondo oscuro */
}

form input {
    -fx-background-color: #121212; /* Fondo oscuro */
    -fx-text-fill: white; /* Texto blanco */
}

.button {
    -fx-background-color: #1DB954; /* Verde de Spotify */
    -fx-text-fill: white; /* Texto blanco */
}

.button:hover {
    -fx-background-color: #1ed760; /* Color más claro al pasar el mouse */
}


/* Estilos específicos para el botón de cambiar tema */
.button-theme {
    -fx-background-color: transparent; /* Fondo transparente */
    -fx-text-fill: white; /* Texto blanco */
    -fx-font-size: 20px; /* Tamaño del ícono */
}
.text-field {
    -fx-background-color: #3A3B3C; /* Fondo oscuro */
    -fx-text-fill: white; /* Texto blanco */
    -fx-border-color: #1DB954; /* Borde verde Spotify */
    -fx-border-radius: 5; /* Bordes redondeados */
    -fx-padding: 10; /* Espaciado interno */
}

.text-field:focused {
    -fx-border-color: #1DB954; /* Color del borde al tener el foco */
    -fx-background-color: #2A2B2C; /* Fondo más claro al hacer foco */
}

/* Estilo para etiquetas en las secciones */
.label {
    -fx-text-fill: white; /* Color del texto */
    -fx-font-size: 18px; /* Tamaño de fuente */
    -fx-font-weight: bold; /* Negrita */
}