
.root {
    -fx-background-color: #121212;
    -fx-padding: 220 20 20 20;
    -fx-spacing: 10;
    -fx-alignment: center;
}


.slider {
    -fx-control-inner-background: #121212;
    -fx-pref-width: 600;
    -fx-max-width: 650;
}

.label {
    -fx-text-fill: #b3b3b3;
}

.play-button,
.pause-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-pref-width: 40;
    -fx-pref-height: 40;
    -fx-min-width: 40;
    -fx-min-height: 40;
    -fx-padding: 5;
}


.play-button:hover,
.pause-button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}


.duration-box {
    -fx-background-color: #121212;
    -fx-alignment: center;
    -fx-spacing: 10;
}


.black-background {
    -fx-background-color: #000000;
}

.button-pane {
    -fx-alignment: center;
    -fx-spacing: 10;
}


.spacer {
    -fx-vgrow: always;
}


.play-image {
    -fx-fit-height: 90;
    -fx-fit-width: 90;
}

.pause-image {
    -fx-fit-height: 90;
    -fx-fit-width: 90;
}